.divFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(11,95,55);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    height: 4rem;
    align-items: center;
}